@{
    ViewBag.Title = "Online Only Page";
}

<h2>Online Only Page</h2>

<p>Sorry the page you are trying to access is only accessible in online mode and your device does not seem to be connected to the internet</p>
