@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Phone Book Web Application With Offline Capability</h1>
        </hgroup>
        <p>
            This is a sample application written to showcase html5 offline capabilities. 
        </p>
        <p>To learn more about this sample and offline web applications in general you may read my post about it <a href="http://www.mehdi-khalili.com/presentations/wdyk-offline-web">here</a>.</p>
    </div>
</section>
}

<p></p>This sample is built for my <a href="http://whatdoyouknow.webdirections.org/brisbane">What Do You Know talk</a>.</p>

<p><strong>WARNING</strong>
This code is written to be demoed over 5 minutes. So I had to cut down on every possible bit of noise and keep the code to its simplest form. Feel free to check the code out as a sample for how offline web apps can be done but don't use it as is - a LOT must be improved on this.</p>

<p>To see the app in action run it Chrome which is the browser I have used to build and test the application. The app may not behave properly in other browsers - I told you this is demo quality :p </p>

<p>Open the Chrome Dev Tools and bring up the console. 
If you now navigate to the Contacts page you can see in the console that the browser starts caching the pages and resources. 
After the caching has completed stop your dev web server to simulate an offline situation. 
Now navigate around the web site, go to the Contacts page, create contacts and so on to see how the web site works in offline mode. 
When the web server is down the pages are served from cache. Also the contacts you add are added to the local storage. 
When you fire up your dev web server again and navigate to the Contacts page you can see the records getting synced up to the server and then removed from local storage.</p>
